*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border-spacing: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body,
input,
button {
  font-family: IRANSansX;
  direction: rtl;
}
